include *.txt
include LICENSE
include tox.ini
exclude .bumpversion.cfg

recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include src *.py
recursive-include src *.html


global-exclude .idea .idea/* *.py[cod] __pycache__ *.so *.dylib .DS_Store docs/build/*

include *.rst
recursive-include tests *.txt
recursive-include tests *.gz
recursive-include tests *.py
recursive-include tests *.tsv
recursive-include docs *.dot
recursive-include docs *.png
recursive-include docs *.svg
recursive-include docs *.jpeg
recursive-include src *.png
recursive-include tests *.xml
recursive-include tests *.xsd

include *.rst *.txt *.yml LICENSE tox.ini docs/Makefile .coveragerc
exclude docs/build