{%  extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Welcome to PyUniProt WEB</h1>
    <p class="lead">Python software library to access comprehensive, high-quality and freely accessible resource of
        protein sequence and functional information</p>

    {% if session.logged_in == NULL %}
        <a href="/register" class="btn btn-primary btn-lg">Register</a>
        <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
    {% raw %}
        {{ test.id }}
    {% endraw %}
</div>
{% endblock %}